/* body {
    background-color: rgb(192, 184, 173);
} */

.form {
    display: column;
    margin-top: 10px;
    padding: 2%;
    max-width: 600px;
}

fieldset {
    background-color: rgb(238, 214, 180);
    margin: auto auto;
    overflow: hidden;
}

.nombre,
.apellido
 {
    width: 250px;
    color: black;
}

ul {
    list-style: none;
}

ul li button {
    margin-top: 10px;
}

#descripcion {
    color: black;
    width: 95%;
    height: 80px;
}

.email,
#celular {
    color: black;
    width: 400px;
}

.margen-inferior {
    height: 100%;
    margin-bottom: 2%;
}