body {
    background-color: rgb(192, 184, 173);
}

.form {
    background-color: rgb(198, 233, 175);
    display: column;
    margin-top: 10px;
    padding: 2%;
    max-width: 600px;
}

fieldset {
    background-color: rgb(136, 243, 163);
    margin: auto auto;
    overflow: hidden;
}

.nombre,
.apellido
 {
    width: 250px;
    background-color: aquamarine;
    color: black;
}

ul {
    list-style: none;
}

ul li button {
    background-color: aquamarine;
    margin-top: 10px;
}

#descripcion {
    background-color: aquamarine;
    color: black;
    width: 95%;
    height: 80px;
}

.email,
#celular {
    background-color: aquamarine;
    color: black;
    width: 400px;
}

.margen-inferior {
    height: 100%;
    margin-bottom: 2%;
}