body {
    background-color: rgb(223, 224, 224);
}

h4 {
    color: green;
}

button {
    margin: 5px 0;
    float: right;
}

.caja {
    background-color: bisque;
    margin: 100px auto;
    max-width: 500px;
    padding: 5px 10px;
    border-radius: 5px;
}

label, input {
    margin: 2px auto;
}

#cantidad_actual {
    height: 40px;
}