<link rel="stylesheet" href="/stylesheets/formulogin.css">


<div class="container caja">
    <div class="row">
        <h4 class="text-center">modificar cantidades del item en el inventario</h4>
        <form action="/admin/recetario/inventario/modificar" method="post">
            <input type="hidden" value="{{item.inventario_id}}" name="inventario_id">
            <div class="form-group">
                <label for="item_nombre">Item:</label>
                <p class="form-control item_nombre" id="item_nombre">{{item.item_nombre}}</p>
            </div>
            <div class="form-group">
                <label for="cantidad_actual">Cantidad actual:</label>
                <p class="form-control" id="cantidad_actual">{{item.cantidad}}</p>
            </div>
            <div class="form-group">
                <label for="cantidad_nueva">Cantidad:</label>
                <input type="number" step="0.001" id="cantidad_nueva" class="form-control" name="cantidad_nueva">
            </div>
            <div class="form-group">
                <label>Operación:</label>
                <select name="operacion" class="form-control">
                    <option value="sumar">Igreso</option>
                    <option value="restar">Egreso</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {{#if error}}
        <h5>{{message}}</h5>
        {{/if}}
    </div>
</div>