<link rel="stylesheet" href="/stylesheets/formulogin.css">

<h1>Registrate para continuar</h1>
<div class="container" id="cajaform">
    <div class="row">
        <div class="col">
            <form action="/admin/register" method="post">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario" arial-describedby="emailHelp" name="usuario">

                </div>
                <div class="for-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="for-group">
                    <label for="passwordR">Repite tu Password</label>
                    <input type="password" class="form-control" id="passwordR" name="passwordR">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>

            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>