
    <!-- PRESENTACION -->
    <header id="presentacion" class="container-fluid">
        <div class="row row-cols-2 align-items-start margen">
            <div class="col-6 align-self-center fondo-claro rounded scrollp">
                <div>
                    <p class="margen text-center">Ofrecemos servicios de mantenimiento integral con una atención
                        personalizada y profesional. Nos especializamos en reparaciones, mejoras y conservación de
                        infraestructuras, asegurando que cada espacio funcione de manera óptima. Nuestro equipo está
                        capacitado para adaptarse a las necesidades de cada cliente, garantizando soluciones rápidas y
                        eficientes.</p>
                    <p class="margen text-center">Con años de experiencia en el rubro y un enfoque centrado en la
                        satisfacción del cliente, nos comprometemos a ofrecer un servicio confiable y de alta calidad.
                        No
                        importa el tamaño del proyecto, nuestro objetivo es siempre brindar resultados que superen las
                        expectativas y mantener un entorno seguro y funcional.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="contenedorImagen rounded">
                </div>
            </div>
        </div>
    </header>
    <!-- FIN PRESENTACION -->

    <!-- CARRUSEL -->
    <div id="detalles" class="container-fluid text-center carrusel">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/carrusel/fotoCarrusel01.png" class="d-block w-100 tamañoCarrusel"
                                alt="foto prueba">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Servicio de Mantenimiento Integral</h5>
                                <p>Nos especializamos en la reparación y mantenimiento de todo tipo de instalaciones,
                                    garantizando calidad y eficiencia.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/carrusel/fotoCarrusel02.jpg" class="d-block w-100 tamañoCarrusel"
                                alt="foto prueba">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Revisión y Diagnóstico</h5>
                                <p>Nuestros técnicos realizan inspecciones exhaustivas para identificar y solucionar
                                    problemas en su equipo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/carrusel/fotoCarrusel03.jpg" class="d-block w-100 tamañoCarrusel"
                                alt="foto prueba">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Mantenimiento Preventivo</h5>
                                <p>Programa regular de mantenimiento para prevenir fallas y prolongar la vida útil de su
                                    equipo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/carrusel/fotoCarrusel04.jpg" class="d-block w-100 tamañoCarrusel"
                                alt="foto prueba">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Equipo de Protección</h5>
                                <p>Nuestros técnicos utilizan equipo de protección personal para garantizar su seguridad
                                    durante el trabajo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/carrusel/fotoCarrusel05.jpg" class="d-block w-100 tamañoCarrusel"
                                alt="foto prueba">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Instalaciones Seguras y Eficientes</h5>
                                <p>Nuestro técnicos garantizan instalaciones que cumplen con los estandares de seguridad
                                    y eficiencia.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN CARRUSEL -->

    <!-- ACORDEON -->
    <div id="historias" class="container-fluid">
        <ul class="list-group accordion" id="accordionExample">
            <h2 class="text-center">Historias de nuestros integrante</h2>
            <li class="list-group-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Nuestro Capitan
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong>El Capitan </strong>Tenía 12 años cuando empezo reparando su bicicleta, dando inicio
                            a su carrera. Sin para de desarmar, reparar y rearmar maquinas. Completo sus instrucción
                            básica
                            en una escuela técnica. Enprendiendo su camino entre tornillos, formulas, medidas y
                            resortes.
                            Llega a este barco con capacidades natas en el rubro...
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        La Copiloto
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong>La Copiloto </strong> Nuestra copiloto es una talentosa y creativa, apasionada por el
                            diseño y
                            la fabricación de juguetes interactivos para infantes. Con una visión única, ha desarrollado
                            productos innovadores que no solo entretienen,
                            sino que también estimulan el aprendizaje y el desarrollo cognitivo de los más pequeños.
                            Gracias a su enfoque en la seguridad y la interactividad,
                            sus juguetes son tanto educativos como divertidos, ayudando a los niños a explorar el mundo
                            que los rodea de manera lúdica y segura.
                        </p>
                    </div>
            </li>
            <li class="list-group-item accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Nuestro Operario
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong>Nuestro Operario </strong> Nuestro operario es un apasionado cocinero que descubrió
                            su vocación más tarde en la vida. Tras dedicarse a otras áreas, decidió seguir su sueño de
                            estudiar cocina, especializándose en la creación de deliciosas pizzas artesanales. Su amor
                            por la gastronomía lo llevó a experimentar con ingredientes frescos y técnicas innovadoras,
                            convirtiendo cada pizza en una obra de arte culinaria. Con creatividad y dedicación, ha
                            perfeccionado recetas que conquistan los paladares más exigentes.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Nuevo Integrante
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong>El Nuevo</strong> Nuestro nuevo integrante es un entusiasta de la jardinería de
                            interiores, con una profunda pasión por crear espacios verdes dentro del hogar. Le encanta
                            cultivar plantas de todo tipo, desde suculentas hasta plantas tropicales, logrando
                            transformar cualquier rincón en un pequeño oasis. Con un enfoque en el bienestar y la
                            armonía, disfruta de cuidar cada detalle para mantener las plantas saludables y vibrantes,
                            contribuyendo a un ambiente más fresco y natural en el hogar.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- ACORDEON -->

    <!-- INICIO DE SECCION -->
    <div id="novedades" class="row my-3 grid gap-0 column-gap-6">
        <!-- INICIO LISTA DE PROYECTOS -->
        <div class="col-md-5 offset-md-1 p-2 g-col-6">
            <h2 class="text-center">Crecemos en Conjunto</h2>
            <ul class="lista-novedades grid gap-0 row-gap-3">
                <li class="p-2 g-col-6"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="/images/enConjunto/malis-caoncito.jpg" alt="">Juegos para niños</a></li>
                <li class="p-2 g-col-6"><a href="#"><img src="/images/enConjunto/3dImpresiones.jpg" alt="">Impresiones
                        3D</a></li>
                <li class="p-2 g-col-6"><a href="#"><img src="/images/enConjunto/soloPrepizas.jpeg" alt="">Solo
                        Prepizas</a></li>
                <li class="p-2 g-col-6"><a href="#"><img src="/images/enConjunto/jardin-casa.jpg" alt="">Plantas en
                        casa</a></li>
                <li class="p-2 g-col-6"><a href="#"><img src="/images/enConjunto/programacio-principiante.jpg"
                            alt="">Paginas Web
                        Básicas</a></li>
            </ul>
        </div>
        <!--  FIN LISTA DE PROYECTOS -->
        <!-- INICIO INVITACION -->
        <div class="col-md-3 offset-md-1 my-3 p-2 g-col-6">
            <div class="card colorfondo">
                <div class="card-body">
                    <h5 class="card-title text-center">¡Únete a Nuestra Comunidad de Creadores!</h5>
                    <p class="card-text text-center">¿Tienes un pequeño emprendimiento o una idea innovadora? En
                        <strong>nuestra
                            empresa</strong>, creemos en el crecimiento colaborativo y estamos siempre en busca de
                        nuevos talentos que quieran compartir sus proyectos. No importa si es grande o pequeño, lo
                        importante es la pasión por lo que haces. ¡Es tu oportunidad de crecer con nosotros!
                    </p>
                    <a href="/formulario" target="_blank" class="btn btn-primary">Formulario de consulta</a>
                </div>
            </div>
        </div> <!-- FIN INVITACION -->
    </div><!-- FIN DE SECCION -->


    <!-- INICIO MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Malis a jugar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Juegos interactivos para para niños</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar y
                        salir</button>
                    <button type="button" class="btn btn-primary"><a href="https://www.malisajugar.com/" target="_blank"
                            class="colorTexto">Ir a mirar</a></button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN MODAL -->

    <!-- INICIO BOTONERA CON ALERTA -->
    <div id="botonera" class=" text-center">
        <div class="row row-cols-4 botoneraFondo">
            <div id="mostrar1" class="col scrollBotonera">
                <button type="button" class="btn btn-primary" id="alerta1">Colaboración</button>
            </div>
            <div id="mostrar2" class="col scrollBotonera">
                <button type="button" class="btn btn-primary" id="alerta2">Compromiso</button>
            </div>
            <div id="mostrar3" class="col scrollBotonera">
                <button type="button" class="btn btn-primary" id="alerta3">Innovación</button>
            </div>
            <div id="mostrar4" class="col scrollBotonera">
                <button type="button" class="btn btn-primary" id="alerta4">Éxito</button>
            </div>
        </div>
    </div>
    <!-- FIN BOTONERA CON ALERTA -->

    <!-- INICIO TOSTADA -->
    <div class="toast-container position-fixed bottom-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
            data-bs-autohide="false">
            <div class="toast-header">
                <img src="/images/botonera_fondo.png" class="rounded me-2" alt="fotito" width="30" height="24">
                <strong class="me-auto">Consultas Matenimiento</strong>
                <small>
                    <p id="display-tiempo"></p>
                </small>
            </div>
            <div class="toast-body">
                <p>Deja una pequeña descripcción de tu problema en el formulario o encuentranos por aquí.</p>
                <div class="mt-2 pt-2 border-top">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Vamos allá</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN TOSTADA -->

    <!-- INICIO OFFCANVAS (FUERA DEL LIENZO) -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div style="display: flex;flex-direction: column;" class="container">
            <h5 class="offcanvas-title text-center" id="offcanvasRightLabel">Visitanos o llena el formulario</h5>
            <div class="offcanvas-body">
                <!-- INICIO VISITANOS -->
                <div id="contenedor">
                    <div id="visitanos">
                        <h2 class="text-center">Visitanos</h2>
                        <div class="mapa">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18572.689336875304!2d-58.43769945377427!3d-34.623914622451004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca440ec19097%3A0x30b34282ae8fae18!2sParque%20Rivadavia!5e0!3m2!1ses!2sar!4v1727296271069!5m2!1ses!2sar"></iframe>
                        </div>
                    </div>
                </div>
                <!-- FIN VISITANOS -->

                <!-- INICIO FORMULARIO -->
                <div>
                    <h2 class="text-center">Contactanos</h2>
                    <form id="contactanos" class="row g-3" action="/" method="post">
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="col-md-6">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido">
                        </div>
                        <div class="col-md-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="ingrese@email.com">
                        </div>
                        <div class="col-md-12">
                            <label for="tel" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
                        </div>
                        <div class="col-12">
                            <label for="mensaje" class="form-label">Describa brevemente el problema</label>
                            <textarea name="mensaje" id="mensaje" rows="3" placeholder="Empecemos por aquí"
                                style="width: 100%;"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                        <p>{{message}}</p>
                    </form>
                </div>
                <!-- FIN FORMULARIO -->
            </div>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="offcanvas">Cerrar</button>
        </div>
    </div>
    <!-- FIN OFFCANVAS (FUERA DEL LIENZO) -->